flows.yml
id: stars
namespace: homelab.dev
inputs:
- id: repo
  type: STRING
  defaults: kestra-io/kestra
tasks:
- id: api_query
  type: io.kestra.plugin.core.http.Request
  contentType: application/json
  headers:
    User-Agent: kestra
  uri: https://api.github.com/repos/{{inputs.repo}}
- id: get_stars
  type: io.kestra.plugin.core.log.Log
  message: ✨✨✨ Total GitHub stars {{json(outputs.api_query.body).stargazers_count }} ✨✨✨
- id: foo_python
  type: io.kestra.core.tasks.scripts.Python
  args:
  - data.json
  requirements:
  - requests
  - pip-install-test
  inputFiles:
    data.json: |
      {
      "status": "OK",
      "stargazers_count": {{json(outputs.api_query.body).stargazers_count }}
      }
    main.py: |
      from kestra import Kestra
      import json
      import requests
      import sys
      result = json.loads(open(sys.argv[1]).read())
      print(f"python script {result['status']}")
      print(f"python script {result['stargazers_count']}")
      response = requests.get('http://google.com')
      print(response.status_code)
      Kestra.outputs({'status': response.status_code, 'text': response.text})
    pip.conf: |
      # some specific pip repository configuration
- id: see_outputs
  type: io.kestra.plugin.core.log.Log
  message: 🚀🚀 {{outputs.foo_python.vars.status}}
---
id: create_bucket_flow
namespace: homelab.dev
inputs:
- id: bucket
  type: STRING
  defaults: declarative-orchestration-with-kestra
  required: true
tasks:
- id: create_bucket
  type: io.kestra.plugin.minio.CreateBucket
  accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
  secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
  region: "main"
  bucket: "{{ inputs.bucket }}"
  endpoint: "{{ secret('AWS_ENDPOINT_URL') }}"
---
id: s3_compatible_bucket
namespace: homelab.dev
tasks:
- id: create_bucket
  type: io.kestra.plugin.minio.CreateBucket
  accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
  secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
  endpoint: "{{ secret('AWS_ENDPOINT_URL_S3') }}"
  bucket: "kestra-test-bucket"
---
id: nextcloudTest
namespace: homelab.dev
tasks:
- id: debugging
  type: io.kestra.plugin.core.log.Log
  message: My url "{{ secret('NC_URL') }}"
- id: python
  type: io.kestra.plugin.scripts.shell.Commands
  containerImage: python:3.11-slim
  namespaceFiles:
    enabled: true
    include:
    - nextcloud_test.py
  beforeCommands:
  - python -m pip install webdavclient3
  commands:
  - env
  - python nextcloud_test.py
  env:
    NC_URL: "{{ secret('NC_URL') }}"
    NC_PASSWORD: "{{ secret('NC_PASSWORD') }}"
    NC_USER: "{{ secret('NC_USER') }}"
